<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.springframework.web" level="INFO" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.resultset" level="WARN" />
	<logger name="jdbc.audit" level="WARN" />

</configuration>